@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ 
    ViewData["Title"] = "Home Page";
}

<h1>Thomas Blackwelder</h1>

<img src="img/suntunnels.JPG" />

<p>
    I would like to be able to build my own website to host a database and photos of my collection of objects.
    <br>
    I also want to feel confident enough in my skills to talk about them in an interview
</p>
<ul>
    <li>UX Design</li>
    <li>Product Management</li>
    <li>Tech Sales</li>
</ul>

